# Follows https://git-scm.com/docs/gitignore#_pattern_format
# In particular, if the pattern has a slash that isn't trailing, it becomes relative to the current file
# So use ** in those cases

# Exclusions - i.e. override default eslint ignores of dot folders
!.storybook


node_modules
coverage
dist
.yarn

# the docs template
repo-docs/**/templates/**

# the design-system icon package
packages/design-system/icon/glyph/**
packages/design-system/icon/cjs/**
packages/design-system/icon/utils/**

# the icon icon-file-type package
packages/design-system/icon-file-type/glyph/**
packages/design-system/icon-file-type/cjs/**
packages/design-system/icon-file-type/utils/**

# the icon icon-object package
packages/design-system/icon-object/glyph/**
packages/design-system/icon-object/cjs/**
packages/design-system/icon-object/utils/**
packages/bitbucket/codemod-util-shared-styles-to-theme/__fixtures__

# the icon icon-priority package
packages/design-system/icon-priority/glyph/**
packages/design-system/icon-priority/cjs/**
packages/design-system/icon-priority/utils/**

# adf-utils manual entry-points
packages/editor/adf-utils/*.ts
packages/editor/adf-utils/*.js

# constellation
services/website-constellation/public
services/website-constellation/functions

packages/monorepo-tooling/branch-deploy-product-integrator

# ignore lint issues for lint fixtures examples
build/editor-tools/multiple-dispatch-lint/fixtures
